@keyframes solve {
  0% {
    transform: scale(0.3);
    z-index: 0;
    background-color: inherit;
  }
  50% {
    transform: scale(1.2);
    z-index: 2;
  }
  100% {
    transform: scale(1);
    z-index: 1;
    background-color: lightgreen;
  }
}
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cell-inner:nth-child(n):nth-child(-n + 9) {
  border-top-width: 2px;
}
.cell-inner:nth-child(n + 73):nth-child(-n + 81) {
  border-bottom-width: 2px;
}
.cell-inner:nth-child(3n) {
  border-right-width: 2px;
}
.cell-inner:nth-child(9n + 1) {
  border-left-width: 2px;
}
.cell-inner:nth-child(n + 19):nth-child(-n + 27) {
  border-bottom-width: 2px;
}
.cell-inner:nth-child(n + 46):nth-child(-n + 54) {
  border-bottom-width: 2px;
}

.grid-container {
  height: 100%;
  width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 4vw);
  grid-template-rows: repeat(9, 4vw);
  justify-content: center;
  align-content: center;
  grid-gap: 0rem;
  width: min-content;
  margin: auto;
}

.cell-inner {
  margin: 0;
  padding: 0;

  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: coral; */

  cursor: pointer;
}

.clicked {
  /* background-color: rgb(255, 90, 30); */

  /* transform: scale(1.2); */
  z-index: 10;
  text-decoration: underline dotted;
  /* background-color: cornflowerblue; */
}

.cell-number {
  font-size: 1.2em;
  font-weight: 500;

  transform: scale(1);
  /* transition: all 0.2s ease-out; */
}

.isGiven {
  font-size: 1.3em;
  font-weight: bolder;
  cursor: text;
  text-decoration: underline;
}

.isSolved {
  animation: 0.4s linear 0s solve;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  color: #666;
}

.notGiven {
  font-size: 1.3em;
  color: #777;
}

.highlighted {
  background-color: rgba(189, 223, 255, 0.329);
}
