.side-panel{
    background-color: rgb(226, 226, 226);
    position: absolute;
    right: 0;
    top : 0;
    margin: 0;
    width: 249px; /** -1 for border **/
    height: 100vh;
    border-left: 1px dashed;

    .side-panel-container{
        padding: 0px 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        .button-container {
            border: 2px dashed rgba(51, 51, 51, 0.69);
            margin-top: 20px;
            padding: 5px;
            
            
            h3{
                margin: 0;
            }
            button{
                
                display: block;
                border: none;
                margin: 5px auto ;
                height: 40px;
                min-width: 150px;
                background-color:black;
                color: white;
                font-weight: 500;
                border-radius: 0.3em;
            }
            p{
                font-size: 0.9em;
                line-height: 1em;
            }
        }

        .cell-info-container{
            min-height: 200px;
        }

        .fixed-bottom-right{
            text-align: right;
            
            a{
                color: #000;
                padding-right: 25px;
            }
        }
    }

}