@keyframes solve {
    0% {transform: scale(1.5); z-index: 10;}
    100% { transform: scale(1); z-index: 1;}
  }


.App{
    height: 100vh;
    width: 100vh;
    margin: 0;

    
}


.grid{
    display: inline;
}
.row{
    /* margin: auto; */
    width: max-content;

}


.cell{
    position: relative;

    width: 50px;
    height: 50px;
    background-color: coral;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    cursor: pointer;
    z-index: 1;
    transform: scale(1);
    transition: all 0.05s ease-out;
}

.clicked{
    background-color: rgb(255, 90, 30);

    transform: scale(1.2);
    z-index: 10;
    /* background-color: cornflowerblue; */

}


.cell-number{
    font-size: 1.2em;
    font-weight: 500;

    transform: scale(1);
    transition: all 0.2s ease-out;

}


.isGiven{
    font-size: 1.3em;
    font-weight: bolder;
    cursor: text;
}
.isSolved {
    animation: 0.1s linear 0s solve;
    background-color: lightgreen;
}


.notGiven{
    font-size: 1.3em;
    color: #777;
}

.highlighted{
    background-color: rgb(155, 41, 0);
}